    body {
    background-color: #1D3557;
   }
    h1 {
    color: #E63946;
   }
   .non-sporting{
    background-color: #45789D; 
   }
   ul>li:nth-child(1){
       color: #E63946;
   }
   ul>li:nth-child(odd) {
    color: #E63946;
   }
   ul {
    list-style-type: none;
    color: #a7dadc;
   }
   ul li::before {
    content: "\2022";
    color: #E63946;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
   }
    ol 
    {
    color: #F1FAEE;
   }

